# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# JSON runtime data
db/bans.json

# VSCode
.vscode/

# OS files
.DS_Store
